/* Webfont: LUXYNA */@font-face {
    font-family: 'LUXYNA';
    src: url('LUXYNA.eot'); /* IE9 Compat Modes */
    src: url('LUXYNA.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('LUXYNA.woff') format('woff'), /* Modern Browsers */
         url('LUXYNA.woff2') format('woff2'), /* Modern Browsers */
         url('LUXYNA.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

