/* Webfont: Solomon-Regular */@font-face {
    font-family: 'SolomonSemi';
    src: url('Solomon-Regular.eot'); /* IE9 Compat Modes */
    src: url('Solomon-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Solomon-Regular.woff') format('woff'), /* Modern Browsers */
         url('Solomon-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('Solomon-Regular.svg#Solomon-Regular') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

