/* Webfont: Aara-Book */@font-face {
    font-family: 'AaraBook';
    src: url('Aara-Book.eot'); /* IE9 Compat Modes */
    src: url('Aara-Book.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Aara-Book.woff') format('woff'), /* Modern Browsers */
         url('Aara-Book.ttf') format('truetype'), /* Safari, Android, iOS */
         url('Aara-Book.svg#Aara-Book') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

